.icon-duhongjun:hover{background-image: url('../images/index-7.png');background-position: -140px 0px;width:140px;height:140px;}
.icon-duhongjun{background-image: url('../images/index-7.png');background-position: -420px -140px;width:140px;height:140px;}
.icon-gaomeiling:hover{background-image: url('../images/index-7.png');background-position: 0px -140px;width:140px;height:140px;}
.icon-gaomeiling{background-image: url('../images/index-7.png');background-position: -140px -140px;width:140px;height:140px;}
.icon-gongchen:hover{background-image: url('../images/index-7.png');background-position: -280px 0px;width:140px;height:140px;}
.icon-gongchen{background-image: url('../images/index-7.png');background-position: -280px -140px;width:140px;height:140px;}
.icon-guoyao:hover{background-image: url('../images/index-7.png');background-position: 0px -280px;width:140px;height:140px;}
.icon-guoyao{background-image: url('../images/index-7.png');background-position: -140px -280px;width:140px;height:140px;}
.icon-jiaweichao:hover{background-image: url('../images/index-7.png');background-position: -280px -280px;width:140px;height:140px;}
.icon-jiaweichao{background-image: url('../images/index-7.png');background-position: -420px 0px;width:140px;height:140px;}
.icon-jinjin:hover{background-image: url('../images/index-7.png');background-position: 0px 0px;width:140px;height:140px;}
.icon-jinjin{background-image: url('../images/index-7.png');background-position: -420px -280px;width:140px;height:140px;}
.icon-kezhongzhen:hover{background-image: url('../images/index-7.png');background-position: 0px -420px;width:140px;height:140px;}
.icon-kezhongzhen{background-image: url('../images/index-7.png');background-position: -140px -420px;width:140px;height:140px;}
.icon-langran:hover{background-image: url('../images/index-7.png');background-position: -280px -420px;width:140px;height:140px;}
.icon-langran{background-image: url('../images/index-7.png');background-position: -420px -420px;width:140px;height:140px;}
.icon-lidandan:hover{background-image: url('../images/index-7.png');background-position: -560px 0px;width:140px;height:140px;}
.icon-lidandan{background-image: url('../images/index-7.png');background-position: -560px -140px;width:140px;height:140px;}
.icon-lirui:hover{background-image: url('../images/index-7.png');background-position: -560px -280px;width:140px;height:140px;}
.icon-lirui{background-image: url('../images/index-7.png');background-position: -560px -420px;width:140px;height:140px;}
