.icon-lanxianda:hover{background-image: url('../images/index-11.png');background-position: -140px 0px;width:140px;height:140px;}
.icon-lanxianda{background-image: url('../images/index-11.png');background-position: -420px 0px;width:140px;height:140px;}
.icon-liufei:hover{background-image: url('../images/index-11.png');background-position: 0px -140px;width:140px;height:140px;}
.icon-liufei{background-image: url('../images/index-11.png');background-position: -140px -140px;width:140px;height:140px;}
.icon-liuxingyang:hover{background-image: url('../images/index-11.png');background-position: -280px 0px;width:140px;height:140px;}
.icon-liuxingyang{background-image: url('../images/index-11.png');background-position: -280px -140px;width:140px;height:140px;}
.icon-longyun:hover{background-image: url('../images/index-11.png');background-position: 0px -280px;width:140px;height:140px;}
.icon-longyun{background-image: url('../images/index-11.png');background-position: -140px -280px;width:140px;height:140px;}
.icon-mahui:hover{background-image: url('../images/index-11.png');background-position: -280px -280px;width:140px;height:140px;}
.icon-mahui{background-image: url('../images/index-11.png');background-position: 0px 0px;width:140px;height:140px;}
.icon-wangbin:hover{background-image: url('../images/index-11.png');background-position: -420px -140px;width:140px;height:140px;}
.icon-wangbin{background-image: url('../images/index-11.png');background-position: -420px -280px;width:140px;height:140px;}
.icon-xujin:hover{background-image: url('../images/index-11.png');background-position: 0px -420px;width:140px;height:140px;}
.icon-xujin{background-image: url('../images/index-11.png');background-position: -140px -420px;width:140px;height:140px;}
.icon-zhangmeihui:hover{background-image: url('../images/index-11.png');background-position: -280px -420px;width:140px;height:140px;}
.icon-zhangmeihui{background-image: url('../images/index-11.png');background-position: -420px -420px;width:140px;height:140px;}
.icon-zhaoqin:hover{background-image: url('../images/index-11.png');background-position: -560px 0px;width:140px;height:140px;}
.icon-zhaoqin{background-image: url('../images/index-11.png');background-position: -560px -140px;width:140px;height:140px;}
