.icon-chenxin:hover{background-image: url('../images/index-4.png');background-position: -140px 0px;width:140px;height:140px;}
.icon-chenxin{background-image: url('../images/index-4.png');background-position: -280px -280px;width:140px;height:140px;}
.icon-dengyanan:hover{background-image: url('../images/index-4.png');background-position: 0px -140px;width:140px;height:140px;}
.icon-dengyanan{background-image: url('../images/index-4.png');background-position: -140px -140px;width:140px;height:140px;}
.icon-duhongjun:hover{background-image: url('../images/index-4.png');background-position: -280px 0px;width:140px;height:140px;}
.icon-duhongjun{background-image: url('../images/index-4.png');background-position: -280px -140px;width:140px;height:140px;}
.icon-huyansheng:hover{background-image: url('../images/index-4.png');background-position: 0px -280px;width:140px;height:140px;}
.icon-huyansheng{background-image: url('../images/index-4.png');background-position: -140px -280px;width:140px;height:140px;}
.icon-liangjingsheng:hover{background-image: url('../images/index-4.png');background-position: 0px 0px;width:140px;height:140px;}
.icon-liangjingsheng{background-image: url('../images/index-4.png');background-position: -420px 0px;width:140px;height:140px;}
.icon-likai:hover{background-image: url('../images/index-4.png');background-position: -420px -140px;width:140px;height:140px;}
.icon-likai{background-image: url('../images/index-4.png');background-position: -420px -280px;width:140px;height:140px;}
.icon-litao:hover{background-image: url('../images/index-4.png');background-position: 0px -420px;width:140px;height:140px;}
.icon-litao{background-image: url('../images/index-4.png');background-position: -140px -420px;width:140px;height:140px;}
.icon-liuxin:hover{background-image: url('../images/index-4.png');background-position: -280px -420px;width:140px;height:140px;}
.icon-liuxin{background-image: url('../images/index-4.png');background-position: -420px -420px;width:140px;height:140px;}
