.icon-dingran:hover{background-image: url('../images/index-2.png');background-position: -140px 0px;width:140px;height:140px;}
.icon-dingran{background-image: url('../images/index-2.png');background-position: -420px 0px;width:140px;height:140px;}
.icon-huangchaoliang:hover{background-image: url('../images/index-2.png');background-position: 0px -140px;width:140px;height:140px;}
.icon-huangchaoliang{background-image: url('../images/index-2.png');background-position: -140px -140px;width:140px;height:140px;}
.icon-huangyuan:hover{background-image: url('../images/index-2.png');background-position: -280px 0px;width:140px;height:140px;}
.icon-huangyuan{background-image: url('../images/index-2.png');background-position: -280px -140px;width:140px;height:140px;}
.icon-jipeng:hover{background-image: url('../images/index-2.png');background-position: 0px -280px;width:140px;height:140px;}
.icon-jipeng{background-image: url('../images/index-2.png');background-position: -140px -280px;width:140px;height:140px;}
.icon-lichen:hover{background-image: url('../images/index-2.png');background-position: -280px -280px;width:140px;height:140px;}
.icon-lichen{background-image: url('../images/index-2.png');background-position: 0px 0px;width:140px;height:140px;}
.icon-lijing:hover{background-image: url('../images/index-2.png');background-position: -420px -140px;width:140px;height:140px;}
.icon-lijing{background-image: url('../images/index-2.png');background-position: -420px -280px;width:140px;height:140px;}
.icon-mabohan:hover{background-image: url('../images/index-2.png');background-position: 0px -420px;width:140px;height:140px;}
.icon-mabohan{background-image: url('../images/index-2.png');background-position: -140px -420px;width:140px;height:140px;}
.icon-qinchao:hover{background-image: url('../images/index-2.png');background-position: -280px -420px;width:140px;height:140px;}
.icon-qinchao{background-image: url('../images/index-2.png');background-position: -420px -420px;width:140px;height:140px;}
.icon-wuxiaoyi:hover{background-image: url('../images/index-2.png');background-position: -560px 0px;width:140px;height:140px;}
.icon-wuxiaoyi{background-image: url('../images/index-2.png');background-position: -560px -140px;width:140px;height:140px;}
